body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    

    main {

        width: 300px;
        height: auto;
        background-color: white;

        #quote-box {
            padding: 1rem 1rem;
            h1 {
                font-size: 1.2rem;
            }

            button {
                color: white;
            }
        }
        


       
        
        
    }
    

    

}
